<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" v-on:submit.prevent="onSubmit">
            <input type="text" placeholder="Search For Posters" v-model="search">
            <input type="submit" class="btn" value="Search" >
        </form>
    </div>
    <div class="main">
        <div class="products">
            <div v-if="loading">
                loading...
            </div>
            <div class="search-results" v-else>
                found {{ result.length }} results for search term {{ search }}
            </div>
            <div class="product" v-for="(item, index) in items">
                <div>
                    <div class="product-image">
                        <img src="" v-bind:src="item.link">
                    </div>
                </div>
                <div>
                    <h4 class="product-title">{{item.title}}</h4>
                    <p>Score: <strong> {{item.score}}</strong></p>
                    <p>price: <strong> {{price | currency}}</strong></p>
                    <button class="add-to-cart btn" v-on:click="addItem(index)">Add to Cart</button>
                </div>
            </div>
            <div id="product-list-bottom">
                <div v-if="noMoreItem">
                    No more items
                </div>            
            </div>
        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
            <ul>
                <li class="cart-item" v-for="items in cart">
                  <div class="item-title"> {{items.title}}</div>  
                  <span class="item-qty"> {{items.price | currency}} X {{items.qty }}</span>
                  <button class="btn" v-on:click="inc(items)">+</button>
                  <button class="btn" v-on:click="dec(items)">-</button>
                </li>
            </ul>
            <transition class="fade">
                <div v-if="cart.length">
                    Total: {{Total | currency}}
                </div>
            </transition>
            
            <div v-if="cart.length === 0" class="empty-cart ">
                No item in cart
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
